.player-totals-main {
  display: flex;
  width: 100%;
}

.player-totals-main .player-totals-label {
  color: var(--main-panel-txt-color);
  background-color: var(--main-panel-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
  margin-top: 5px;
}

.player-totals-main .player-totals-label.expanded {
  margin-top: 0px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  background-color: transparent;
  width: 2%;
}

.player-totals-main .player-totals-label .fa-caret-right {
  font-size: 20px;
  margin-bottom: 8px;
}

.player-totals-main .player-totals-label .fa-caret-down {
  font-size: 20px;
  margin-right: 8px;
}

.player-totals-main .player-totals {
  width: 98%;
  flex-wrap: wrap;
  justify-content: center;
}

.player-totals-main .player-totals .player-total{
  display: flex;
  width: 100%;
  padding: 2.5px;
}

.player-totals-main .player-totals .player-total .player-name {
  width: 20%;
  padding: 0px 2.5px;
}

.player-totals-main .player-totals .player-total .player-name .text{
  height: 100%;
  color: var(--main-panel-txt-color);
  background: var(--main-panel-bg-color);
  border-radius: 5px;
  font-size: 13px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-totals-main .player-totals .player-total .result-resources {
  width: 60%;
  padding: 0px 2.5px;
}

.player-totals-main .player-totals .player-total .data {
  color: var(--main-panel-txt-color);
  background: var(--main-panel-bg-color);
  border-radius: 5px;
  font-size: 13px;
  padding: 5px 10px;
}

.player-totals-main .player-totals .player-total .row {
  display: flex;
  justify-content: space-around;
}

.player-totals-main .player-totals .player-total .row div {
  width: 25%;
  text-align: right;
}

.player-totals-main .player-totals .player-total .row div:first-child {
  width: 25%;
  text-align: left;
}

.player-totals-main .player-totals .player-total .row.title {
  margin-bottom: 5px;
}
