.section-title{
    background-color: var(--main-paneltitle-bg-color);
    width: auto;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0px 5px;
}

.section-title .fas{
    color: white;
    font-size: 20px;
}

.section-title .title{
    color: white;
    font-size: 20px;
    margin-left: 10px;
}