.text-input {
    border-radius: 5px;
    border: none;
    color: white;
    background-color: var(--main-panel-bg-color);
    padding: 0px 10px;
}

.text-input.invalid{
    background-color: var(--main-invalid-bg-color);
}

.text-input:focus{
    outline: none;
}

.text-input.large{
    height: 40px;
    font-size: 25px;
}