.main{
    padding: 10px;
    width: 100%;
    max-width: 1575px;
    margin: auto;
}

.api-keys-input{
    display: flex;
    justify-content: space-between;
}

.api-keys-input .text-input{
    width: 78%;
    background-color: var(--main-panel-bg-color);
    color: var(--main-panel-txt-color);
}

.api-keys-input .button{
    width: 10%;
}

.main .section-title{
    margin-bottom: 5px;
}

.main .player-panel{
    margin-bottom: 5px;
}

.main .api-key-validity-message{
    margin-bottom: 20px;
    color: var(--main-invalid-message-color);
    font-size: 20px;
    padding: 5px;
}