.main{
    padding: 30px;
}

.api-keys-input{
    display: flex;
    justify-content: space-between;
}

.api-keys-input .text-input{
    width: 80%;
    background-color: var(--main-panel-bg-color);
    color: var(--main-panel-txt-color);
}

.api-keys-input .button{
    width: 18%;
}

.main .section-title{
    margin-bottom: 20px;
}

.main .player-panel{
    margin-bottom: 20px;
}

.main .api-key-validity-message{
    margin-bottom: 20px;
    color: var(--main-invalid-message-color);
    font-size: 20px;
    padding: 5px;
}