.transport-summary {
  width: 98%;
  padding: 2.5px;
  display: flex;

}

.transport-summary .result-transport {
  width: 80%;
  padding: 0px 2.5px;
}

.transport-summary .result-transport .data {
  color: var(--main-panel-txt-color);
  background: var(--main-panel-bg-color);
  border-radius: 5px;
  font-size: 13px;
  padding: 5px 10px;
  text-align: center;
}

.transport-summary .title {
  width: 20%;
  padding: 0px 2.5px;
}

.transport-summary .title .text {
  height: 100%;
  color: var(--main-panel-txt-color);
  background: var(--main-panel-bg-color);
  border-radius: 5px;
  font-size: 13px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
