.navigation{
    width: 100%;
    height: 50px;
    background-color: var(--main-panel-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.navigation .site-name {
    font-size: 25px;
    color: white;
}