body {
  background-image: url("assets/background-compressed.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

:root {
  --main-panel-bg-color: rgb(0, 0, 0, 0.7);
  --main-panel-txt-color: rgb(255, 255, 255);

  --main-paneltitle-bg-color: rgb(0, 0, 0);
  --main-paneltitle-txt-color: rgb(255, 255, 255);

  --main-input-bg-color: rgb(255, 255, 255, 0.9);
  --main-input-txt-color: rgb(0, 0, 0);

  --main-invalid-bg-color: rgb(255, 8, 0, 0.3);
  --main-invalid-message-color: rgb(255, 8, 0);

  --main-gain-bg-color: rgb(13, 255, 0);
  --main-loss-bg-color: rgb(252, 3, 32);
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: var(--main-panel-bg-color);
}
::-webkit-scrollbar-thumb {
  background: black;
}
::-webkit-scrollbar-thumb:hover {
  background: white;
}
